<div class="">
<nav>
    <a href="/">Home</a>
    <a href="existing_interns">Interns</a>
    <a href="existing_groups">Groups</a>
    <a class="last" href="existing_orients">Orientations</a>
</nav>
</div>

